*{
    padding: 0px;
    margin: 0 auto;
}
.container{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}
.header{

    width: 100%;
    position:fixed;
    left:0px;
    top:0;
    right:0;
    background-color:rgb(35, 38, 46);
    height: 80px;
}

.header h2{
    font-family: "隶书";
    color: rgb(12, 144, 128);
}
.left{
    float: left;
    width: 200px;
    height: 100px;
    line-height: 60px;
}
.right{
    float: right;
    height: 80px;
    width: 86%; 
}
.hrone{
    float: left;
}
.hrtwo{
    line-height: 80px;
    text-align: center;
    float: right;
    background-color: rgb(49, 251, 66);
    width: 150px;
    height: 80px;
    border-radius: 20%;

}




.leftMenu{
    position: fixed;
    left:0;
    top:80px;
    bottom:0;
    background-color: rgb(57, 61, 73);
    width:200px;
    height:100%;
    
    overflow: hidden;
}
.leftMenu ul{
    width: 200px;
    list-style: none;
    height: 160px;
    text-align: center;
    line-height: 50px;
}
.leftMenu ul li{
    width: 200px;
    height: 50px;
    color: #ffffff;
}
.leftMenu ul li:hover{
    background-color:rgb(0, 150, 136) ;
}
a{
    text-decoration: none;
    color: #ffffff;
}
a:hover{
    color:rgb(116, 245, 245);
}
.mainContent{
    position: absolute;
    left:200px;
    top:80px;
    bottom:0;
    background-color: #ffffff;
    right:0;
}

.arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid rgb(255, 255, 255); 
    transform: rotate(180deg);
    position: relative;
    left: 30px; 
    transition: transform 0.3s ease;
    
}
.rotate {
    transform: rotate(0deg);
}
.one {
    text-align: center;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .one h1 {
    color: #333;
    font-size: 24px;
    font-family: Arial, sans-serif;
    margin-bottom: 10px;
  }
.two{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    height: 100vh;
    margin: 0;
}


